html, body{
  margin: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

nav {
  height: 150px;
  background-color: #D80000;
  border: 6px double #F0F0F0;
}


ul.top-nav {
  list-style-type: none;
  float: right; 
}

ul.top-nav li {
  display: inline-block;
  padding-left: 5px;
  padding-top: 50px;
  padding-right: 25px;
}

ul.top-nav li a {
  color: black;
  font-size: 25px;
  font-family: times courier;
  font-style: italic;
}

ul.top-nav li a:hover {
  text-decoration: line-through;
}

#logo {
  display: inline-block;
  background-size: 165px;
  height: 150px;
  width: 150;
  background-size: 165px;
  margin-top: 15px;
  margin-left: 15px;
}

body {
    background-image: url(../images/form15.jpg);  
    background-size: cover;
}

h1 {
  text-align: center;
  text-decoration: line-through;
  text-shadow: 12px 12px #F0F0F0;
  text-transform: capitalize;
  font-family: times courier;
  font-style: italic;
  color: #D80000;
}

.go1 {
    text-align: left;
    text-decoration: overline;
    font-family: times courier;
    font-style: italic;
    color: #F0F0F0;
}

.go1 p {
    border-radius: 15px 50px;
    background: #D80000;
    padding: 20px; 
    width: 200px;
    height: 130px;
}

.go2 { 
    text-align: left;
    text-decoration: overline;
    font-family: times courier;
    font-style: italic;
    color: #F0F0F0;
 }

 .go2 p {
    border-radius: 15px 50px;
    background: #D80000;
    padding: 20px; 
    width: 200px;
    height: 260px;
  }
 